<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stroke Detection with Deep Learning</title>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />-->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Stroke Detection</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Image Comparison </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/comparison">Model Comparison <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="container">
            <div class="row banner_top">
                <div class="col-md-2">
                    <img src="static/img/srh_logo.png" alt="SRH Hochschule Heidelberg" width="200" height="120">
                </div>
                <div class="col-md-8">
                    <div class="title">
                        <h2>Stroke Detection with Deep Learning</h2>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="static/img/fraunhofer_logo.png" alt="Fraunhofer" width="200" height="120">
                </div>
            </div>
            <div class="row banner_top">
                <div class="title">
                    <h2>Model: <label id="current_model"></label></h2>
                </div>
            </div>            
            <div class="row subbanner_top">
                <div class="col-md-3"> 
                    <div class="limit">
                        <img id="input" class="images" src="static/data/input/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>                  
                </div>
                <div class="col-md-3">                   
                    <div class="limit">
                        <img id="mask" class="images" src="static/data/mask/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                </div>
                <div class="col-md-3">                   
                    <div class="limit">
                        <img id="prediction" class="images" src="static/data/prediction/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                </div>                
                <div class="col-md-3">                   
                    <div class="limit">
                        <img id="comparison" class="images" src="static/data/comparison/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                </div>                
            </div>
            <div class="row">
                <div class="col-md-3">     
                    <div class="title">
                        <label>Input Image</label>
                    </div>
                </div>
                <div class="col-md-3">  
                    <div class="title">
                        <label>Ground-truth</label>
                    </div>                 
                </div>
                <div class="col-md-3"> 
                    <div class="title">
                        <label>Prediction</label>
                    </div>          
                </div>
                <div class="col-md-3"> 
                    <div class="title">
                        <label>Comparison</label>
                    </div>          
                </div>                    
            </div>
            <div class="row subbanner_top">                    
                <div class="title center_components">
                    <h4> Image: <label id="image_id">0</label></h4>
                    <h4> Dice Score: <label id="dsc_id"></label></h4>
                </div>
            </div>
            <div class="row subbanner_top ">
                <div class="title center_components">                    
                    <button id="clickme2" class="btn btn-info" onclick="changeModel();">Change Model</button>                        
                    <button id="clickme4" class="btn btn-info" onclick="changeImage();">Change Image</button>                        
                </div>
                
            </div>     
                <!-- <div class="col-md-3">
                    <div class="title center_components">
                        <h4> Model 1</h4>
                    </div>  
                    <div class="limit">
                        <img id="input" class="images" src="static/data/input/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Input Image</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="mask" class="images" src="static/data/mask/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                    <div class="title">
                        <label>Ground-truth</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="prediction" class="images" src="static/data/prediction/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Prediction</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="comparison" class="images" src="static/data/comparison/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Comparison</label>
                    </div> 
                    <br>
                    <div class="title center_components">
                        <h4> Dice Score: <label id="image_id">161</label></h4>
                    </div>       
                </div>
                <div class="col-md-3">
                    <div class="title center_components">
                        <h4> Model 1</h4>
                    </div> 
                    <div class="limit">
                        <img id="input" class="images" src="static/data/input/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Input Image</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="mask" class="images" src="static/data/mask/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                    <div class="title">
                        <label>Ground-truth</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="prediction" class="images" src="static/data/prediction/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Prediction</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="comparison" class="images" src="static/data/comparison/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Comparison</label>
                    </div> 
                    <br>
                    <div class="title center_components">
                        <h4> Dice Score: <label id="image_id">161</label></h4>
                    </div>       
                </div> 
                <div class="col-md-3">
                    <div class="title center_components">
                        <h4> Model 1</h4>
                    </div>  
                    <div class="limit">
                        <img id="input" class="images" src="static/data/input/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Input Image</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="mask" class="images" src="static/data/mask/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                    <div class="title">
                        <label>Ground-truth</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="prediction" class="images" src="static/data/prediction/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Prediction</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="comparison" class="images" src="static/data/comparison/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Comparison</label>
                    </div> 
                    <br>
                    <div class="title center_components">
                        <h4> Dice Score: <label id="image_id">161</label></h4>
                    </div>       
                </div> 
                <div class="col-md-3">
                    <div class="title center_components">
                        <h4> Model 1</h4>
                    </div> 
                    <div class="limit">
                        <img id="input" class="images" src="static/data/input/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Input Image</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="mask" class="images" src="static/data/mask/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div> 
                    <div class="title">
                        <label>Ground-truth</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="prediction" class="images" src="static/data/prediction/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Prediction</label>
                    </div>
                    <br>
                    <div class="limit">
                        <img id="comparison" class="images" src="static/data/comparison/sub-r009s024_ses-1_T1w/0180.png" alt="text related to image">
                    </div>
                    <div class="title">
                        <label>Comparison</label>
                    </div> 
                    <br>
                    <div class="title center_components">
                        <h4> Dice Score: <label id="image_id">161</label></h4>
                    </div>       
                </div>                                -->
                                      
        </div>
        <script src="/static/js/comparison.js"></script>
    </body>
</html>